/* Buttons */

.button {
    padding: .2em 0;
    background-color: $tangerine;
    font-family: $poppins;
    margin: 5rem;
    border: 1px outset $white;
    
    &:hover {
        background-color: $white;
    }
}