/* Cards */

.card {
    padding: 0.5em;
    border: 1px dotted $sable;

    $this: &;

    &__img {
        width: 100%;
        margin-bottom: 1rem;
    }

    &__body {
        font-family: $poppins;
    }

    &__title {
        font-size: $x-large;
        font-weight: $bold;
    }

    &__footer{
        font-weight: $bold;
        
        >#{$this}__text {
        font-size: $large;
        }

        &>span + span {
            margin-left: .5rem;
        }
    }
}