/* Footer */

.footer {
    height: max(10vh, 10em);
    background-color: $sable;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
    padding: 0 5%;

    &__group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        a {
            margin: .8rem 1rem;

            @include mQueryMin(md) {
                margin: 0 1em;
            }
        }

        input {
            width: 10rem;
        }
    }
}

