/* Main Section */

.main {
    padding: 1rem;
    gap: 1rem;

    &__section {
        display: flex;
        flex-direction: column;
        gap: inherit;
        &.card {
            border: 2px solid $black;
        }

        & + & {
            align-items: center;

            h1,
            h3 {
                font-weight: $bold;
                font-size: $large;
            }

            h3 {
                background-color: $charcoal;
                color: $white;
                width: 100%;
                text-align: center;
            }

            ul {
                list-style: circle;
                align-self: start;
                margin-left: 10%;
                
                li a {
                    color: rebeccapurple;
                    text-decoration: underline;
                }
            }
        }
    }

    &__thumbnail {
        border-radius: 50%;
        width: 30%;
        align-self: center;
        border: 2px solid $black;
    }

    &__paragraph {

    }

    .svg {
        width: 30%;
        margin-top: 10%;
    }
}